<div class="container">

    <div class="about-us-wrap">

        <div class="about-us__title _t-center">
            <span class="_small-title _st-color-4">Testimonial</span>
            <h2 class="title _block-title">People Talk about us</h2>

            <div class="square -aboutus_blue">
                <img
                    src="/src/img/square-blue1.svg"
                    width="98"
                    height="70"
                    alt="square blue"
                    loading="lazy"
                />
            </div>
        </div>

        <div class="about-us__content-wrap">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="about-us__content">
                        <div class="row">
                            <div class="col-sm-4">
                                <img
                                    src="/src/img/angel-rose.svg"
                                    width="70"
                                    height="70"
                                    alt="Angel Rose"
                                />
                            </div>

                            <div class="col-sm-8">
                                <div
                                    class="row about-us__content__reviewer-info"
                                >
                                    <span class="name _st-color-4">About Us</span>
                                    <span>Creative Manager</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <p
                                    class="about-us__content__reviewer-desc"
                                >There are many variations passages of Lorem
                                    Ipsum majority some by words which don't
                                    look .
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="about-us__content">
                        <div class="row">
                            <div class="col-sm-4">
                                <img
                                    src="/src/img/angel-rose.svg"
                                    width="70"
                                    height="70"
                                    alt="Angel Rose"
                                />
                            </div>

                            <div class="col-sm-8">
                                <div
                                    class="row about-us__content__reviewer-info"
                                >
                                    <span class="name _st-color-4">About Us</span>
                                    <span>Creative Manager</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <p
                                    class="about-us__content__reviewer-desc"
                                >There are many variations passages of Lorem
                                    Ipsum majority some by words which don't
                                    look .
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-us__content">
                        <div class="row">
                            <div class="col-sm-4">
                                <img
                                    src="/src/img/angel-rose.svg"
                                    width="70"
                                    height="70"
                                    alt="Angel Rose"
                                />
                            </div>

                            <div class="col-sm-8">
                                <div
                                    class="row about-us__content__reviewer-info"
                                >
                                    <span class="name _st-color-4">About Us</span>
                                    <span>Creative Manager</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <p
                                    class="about-us__content__reviewer-desc _main-desc"
                                >There are many variations passages of Lorem
                                    Ipsum majority some by words which don't
                                    look .
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>