<div class="container">
    <div class="b-impact-wrap _main-wrap">
        <div class="row">

            <div class="col-lg-5">
                <div class="b-impact-content">

                    <h2 class="title">Build impactful creatives easily</h2>
                    <p class="desc _main-desc _st-color-3">Track all changes
                        made in a glance, add sticky notes and get the best
                        minds on your team to work together.</p>
                    <div class="b-impact-content__review">
                        <img
                            src="/src/img/b-impact-review.svg"
                            width="90"
                            height="91"
                            alt="b-impact-review"
                            aria-hidden="true"
                            loading="lazy"
                        />
                        <div class="row">
                            <q class="b-impact-content__review-text">Collab
                                helps us to organize our work professionally and
                                effectively</q>
                            <span class="b-impact-content__review-name">Robert
                                Mayar - Founder of Airbnb</span>
                        </div>

                    </div>

                    <button class="btn btn__main">Learn More</button>

                    <div class="elipse -b-impact_yellow">
                        <img
                            src="/src/img/elipse-yellow.svg"
                            width="16"
                            height="16"
                            alt="elipse-yellow."
                            aria-hidden="true"
                            loading="lazy"
                        />
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="b-impact-img">
                    <img
                        class="b-impact-img__main"
                        src="/src/img/b-impact-small.png"
                        width="349"
                        height="313"
                        alt="b-impact-small"
                        aria-hidden="true"
                        loading="lazy"
                    />

                    <img
                        class="b-impact-img__dop"
                        src="/src/img/b-impact-big.png"
                        width="499"
                        height="574"
                        alt="b-impact-big"
                        aria-hidden="true"
                        loading="lazy"
                    />

                </div>

            </div>

        </div>
    </div>
</div>