<div class="container">
    <div class="b-impact-wrap _main-wrap">
        <div class="row">

            <div class="col-lg-5">
                <div class="b-impact-content">

                    <h2 class="title">Build impactful creatives easily</h2>
                    <p class="desc _main-desc _st-color-3">Track all changes
                        made in a glance, add sticky notes and get the best
                        minds on your team to work together.</p>

                    <button class="btn btn__main">Learn More</button>

                    <div class="elipse -b-impact_yellow">
                        <img
                            src="/src/img/elipse-yellow.svg"
                            width="16"
                            height="16"
                            alt="elipse-yellow."
                        />
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="b-impact-img">
                    <img
                        class="b-impact-img__main"
                        src="/src/img/b-impact-small.png"
                        width="349"
                        height="313"
                        alt="b-impact-small"
                        aria-hidden="true"
                    />

                    <img
                        class="b-impact-img__dop"
                        src="/src/img/b-impact-big.png"
                        width="499"
                        height="574"
                        alt="b-impact-big"
                        aria-hidden="true"
                    />

                </div>

            </div>

        </div>
    </div>
</div>