<div class="container">
    <div class="collab-wrap">
        <div class="row">

            <div class="col-lg-6">
                <div class="collab-info">

                    <h2 class="title _block-title">Interesting Collaboration
                        With Us?</h2>

                    <p class="desc _main-desc">Help you to reach your business
                        goal</p>

                    <button class="btn btn__main">Get Started</button>

                </div>
            </div>

            <div class="col-lg-6">

                <div class="collab-images">

                    <div class="row">
                        <div
                            class="collab-images__content -long _img__resp-block"
                        >

                            <div class="square__collab_blue">
                                <img
                                    src="/src/img/square-blue2.svg"
                                    width="103"
                                    height="75"
                                    alt="square-blue2"
                                    loading="eager"
                                    aria-hidden="true"
                                />
                            </div>

                            <img
                                class="_bg-theme"
                                src="/src/img/collab-1.jpg"
                                width="432"
                                height="288"
                                alt="tv"
                                loading="lazy"
                                aria-hidden="true"
                            />
                        </div>

                        <div
                            class="collab-images__content -short _img__resp-block _bg-theme"
                        >

                            <div class="square__collab_red">
                                <img
                                    src="/src/img/square-red2.svg"
                                    width="210"
                                    height="70"
                                    alt="square-red2"
                                    loading="eager"
                                    aria-hidden="true"
                                />
                            </div>

                            <img
                                class="_bg-theme"
                                src="/src/img/collab-2.jpg"
                                width="512"
                                height="288"
                                alt="search"
                                loading="lazy"
                                aria-hidden="true"
                            />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>