<div class="container-fluid">
    <footer class="container footer__wrap">
        <div class="row">
            <div class="col-sm-12">
                <h2>Footer</h2>
            </div>
        </div>
    </footer>
</div>