<div class="container-fluid">
    <footer class="container footer__wrap">
        <div class="row">
            <div class="col-sm-12">
                <h1>Footer</h1>
            </div>
        </div>
    </footer>
</div>