<div class="container-fluid footer__fluid">
    <div class="container">

        <footer class="footer-wrap">
            <div class="row">

                <div class="col-lg-2">
                    <a class="logo -footer" href="#">
                        <img
                            src="/src/img/ac-logo.svg"
                            width="53"
                            height="50"
                            alt="agency creative logo"
                            loading="eager"
                        />
                        <div class="logo__text -footer">
                            <span>Agency</span>
                            <span class="creative">Creative</span>
                        </div>
                    </a>
                </div>

                <div
                    class="col-sm-6 col-lg-2 footer__nav__group -w_50 footer__offset-1"
                >
                    <a href="#" class="footer__nav footer__nav-title">Terms &
                        policies</a>
                    <a href="#" class="footer__nav footer__nav-link">Terms of
                        Service</a>
                    <a href="#" class="footer__nav footer__nav-link">Privacy
                        Policy</a>
                </div>

                <div class="col-sm-6 col-lg-2 footer__nav__group -w_50">
                    <a
                        href="#"
                        class="footer__nav footer__nav-title"
                    >Company</a>
                    <a href="#" class="footer__nav footer__nav-link">Home</a>
                    <a href="#" class="footer__nav footer__nav-link">About Us</a>
                    <a href="#" class="footer__nav footer__nav-link">Contact Us</a>
                </div>

                <div class="col-sm-6 col-lg-2 footer__nav__group">
                    <a
                        href="#"
                        class="footer__nav footer__nav-title"
                    >Contact</a>
                    <a
                        href="tel:(+62)893912392190"
                        class="footer__nav footer__nav-link"
                    >(+62) 893912392190</a>
                    <a
                        href="mailto:agecnycr@gmail.com"
                        class="footer__nav footer__nav-link"
                    >agecnycr@gmail.com</a>
                </div>

                <div
                    class="col-sm-6 col-lg-2 footer__nav__group footer__offset-1"
                >
                    <a
                        href="#"
                        class="footer__nav footer__nav-title"
                    >Location</a>
                    <a
                        href="https://maps.app.goo.gl/GNn3uyTtfJHHj84e6"
                        class="footer__nav footer__nav-link"
                    >PT Osiris Real Estate Internasiona</a>
                    <a
                        href="https://maps.app.goo.gl/UDZtFvazhBWQ19f49"
                        class="footer__nav footer__nav-link"
                    >Jl. KH. Wahid Hasyim Kel No.10D</a>
                    <a
                        href="https://maps.app.goo.gl/JCWQP9RLdLuC66Sq5"
                        class="footer__nav footer__nav-link"
                    > Jakarta, Indonesia</a>
                    <a
                        href="mailto:team@OsirisRealEstate.com"
                        class="footer__nav footer__nav-link"
                    > team@OsirisRealEstate.com</a>
                </div>

            </div>

            <div class="col-12 footer__contacts">

                <a href="#">
                    <img
                        src="/src/img/facebook.svg"
                        width="40"
                        height="40"
                        alt="facebook"
                    />
                </a>

                <a href="#">
                    <img
                        src="/src/img/instagram.svg"
                        width="40"
                        height="40"
                        alt="instagram"
                    />

                </a>

                <a href="#">
                    <img
                        src="/src/img/linkedn.svg"
                        width="40"
                        height="40"
                        alt="linkedn"
                    />
                </a>

                <a href="#">
                    <img
                        src="/src/img/mail.svg"
                        width="40"
                        height="40"
                        alt="mail"
                    />
                </a>

                <a href="#">
                    <img
                        src="/src/img/twitter.svg"
                        width="40"
                        height="40"
                        alt="twitter"
                    />
                </a>

            </div>

            <div class="footer__nav footer__nav__bottom">
                <span class="footer__nav-creator">Page created by jkenix</span>
                <a class="footer__nav__bottom-link _underline" href="">Github
                    Profile
                    <img src="/src/img/github-svg.svg" alt="" /></a>
                <a
                    class="footer__nav__bottom-link _underline"
                    href="https://www.figma.com/file/sHSCJ8g4y3hic480GSRqLF/Landing-Page-(Creative-Agency)-(Community)?type=design&node-id=1-68&mode=design&t=6Yl8MudhMHxNSsnN-0"
                >Layout Link <img src="/src/img/figma-svg.svg" alt="" /> </a>
            </div>

        </footer>

    </div>
</div>