<div class="container-fluid footer__fluid">
    <div class="container">

        <footer class="footer-wrap">
            <div class="row">

                <div class="col-sm-2">
                    <a class="logo -footer" href="#">
                        <img
                            src="/src/img/ac-logo.svg"
                            width="53"
                            height="50"
                            alt="agency creative logo"
                            loading="eager"
                        />
                        <div class="logo__text -footer">
                            <span>Agency</span>
                            <span class="creative">Creative</span>
                        </div>
                    </a>
                </div>

            </div>
        </footer>

    </div>
</div>