<div class="container-fluid header__fluid">
    <div class="container">
        <header class="header">
            <div class="header__wrap">
                <a class="logo" href="/">
                    <img
                        src="/src/img/ac-logo.svg"
                        width="136"
                        height="50"
                        alt="agency creative logo"
                    /></a>
                <nav class="header__menu">
                    <a class="nav-item" href="#home">Home</a>
                    <a class="nav-item" href="#about">About</a>
                    <a class="nav-item" href="#sevices">Sevices</a>
                    <a class="nav-item" href="#projects">Projects</a>
                </nav>
                <button class="btn btn__transparent">Contact us</button>
                <div class="hamburger"><span></span><span></span><span
                    ></span><span></span></div>
            </div>
        </header>
    </div>
</div>