<header class="l-header">
  <div class="l-header-wr navbar navbar-expand-lg justify-content-between">
    <a class="logo navbar-brand" href="/">
      <img
        src="/src/img/ac-logo.svg"
        width="136"
        height="50"
        alt="agency creative logo"
      /></a>
    {{!-- <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Переключить навигацию"
    >
      <span class="navbar-toggler-icon"></span>
    </button> --}}
    {{!-- <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div> --}}
  </div>
</header>