<div class="container-fluid">
    <header class="l-header">
        <div class="container">
            <div
                class="l-header-wr navbar navbar-expand-lg justify-content-between"
            >
                <a class="logo navbar-brand" href="/">
                    <img
                        src="/src/img/ac-logo.svg"
                        width="136"
                        height="50"
                        alt="agency creative logo"
                    /></a>
            </div>
        </div>
    </header>
</div>