<div class="container">
    <div class="offer-wrap">

        <div class="row">
            <div class="col-lg-6">
                <div class="offer-content">
                    <h1 class="title">
                        Transform your teamwork with a powerful design tool
                    </h1>
                    <p class="desc">Stop wasting time with clunky, siloed
                        teamwork. Get every stakeholder on the same page with a
                        design tool that help you work better, faster.</p>
                    <div class="btn-block">
                        <button class="btn btn__main" aria-disabled="true">Start your free trial</button>
                        <div class="_img__resp-block">
                            <img
                                src="/src/img/no-credit.svg"
                                width="181"
                                height="105"
                                alt="no credit card required"
                                aria-label="Start your free trial"
                            />
                            <span class="lg-desc">*No credit card required</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>