<div class="container">
    <div class="offer-wrap">

        <div class="row">
            <div class="col-lg-6">
                <div class="offer-content">
                    
                    <h1 class="title">
                        Transform your teamwork with a powerful design tool
                    </h1>
                    <p class="desc _main-desc">Stop wasting time with clunky,
                        siloed teamwork. Get every stakeholder on the same page
                        with a design tool that help you work better, faster.</p>
                    <div class="btn-block">
                        <button class="btn btn__main" aria-disabled="true">Start
                            your free trial</button>
                        <div class="_img__resp-block">
                            <img
                                src="/src/img/no-credit.svg"
                                width="181"
                                height="105"
                                alt="no credit card required"
                                aria-label="Start your free trial"
                            />
                            <span class="lg-desc">*No credit card required</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="offer-images">
                    <img
                        class="offer__img -img_1"
                        src="/src/img/offer-img-1.svg"
                        width="90"
                        height="90"
                        alt="offer-img-1 -img_1"
                        aria-hidden="true"
                    />

                    <div class="main-img">
                        <img
                            src="/src/img/hd-neon.png"
                            width="440"
                            height="382"
                            alt="hd-neon"
                            aria-hidden="true"
                        />
                    </div>

                    <img
                        class="offer__img -img_2"
                        src="/src/img/offer-img-2.svg"
                        width="90"
                        height="90"
                        alt="offer-img-2"
                        aria-hidden="true"
                    />

                    <img
                        class="elipse -offer_purple"
                        src="/src/img/elipse-purple.svg"
                        width="16"
                        height="16"
                        alt="elipse-offer_purple"
                        aria-hidden="true"
                    />

                    <img
                        class="offer__img -img_3"
                        src="/src/img/review-offer.png"
                        width="228"
                        height="401"
                        alt="review-offer"
                        aria-hidden="true"
                    />

                    <img
                        class="offer__img -img_4"
                        src="/src/img/manage-user.png"
                        width="319"
                        height="155"
                        alt="manage-user"
                        aria-hidden="true"
                    />

                </div>
            </div>
        </div>

    </div>
</div>