<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="offer__content">
                <h1 class="title">
                    {{title}}
                </h1>
                <p class="desc">when you need us for improve your business,</p>
                <p class="desc">
                    then come with us to help your business have reach it, you
                    just sit and feel that goal</p>
                <button class="btn btn__main _btn-box_shadow">Start Project</button>
            </div>
        </div>
    </div>
</div>