<div class="container">

    <div class="our-portfolio-wrap" id="projects">

        <div class="our-portfolio__title _t-center">
            <span class="_small-title _st-color-4">Our Portfolio</span>
            <h2 class="title _block-title">What do we do</h2>
            <p class="desc _main-desc">all projects that we have already done,
                proven can help to use more comfortable, then can used by client
                from our business</p>
            <div class="square -ourportfolio_purple">
                <img
                    src="/src/img/square-purple.svg"
                    width="98"
                    height="70"
                    alt="square red"
                    loading="lazy"
                />
            </div>
        </div>

        <div class="our-portfolio__content-wrap">

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="our-portfolio__content">

                        <a
                            class="our-portfolio__content__link _img__resp-block"
                            href="#"
                        >
                            <img
                                src="/src/img/design-byte-app.jpg"
                                width="350"
                                height="350"
                                alt="design-byte-app"
                                loading="lazy"
                            />

                            <div class="our-portfolio__desc">
                                <span class="_small-title _st-color-1">Design
                                    Byte App</span>
                            </div>

                        </a>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="our-portfolio__content -center">
                        <a
                            class="our-portfolio__content__link _img__resp-block"
                            href="#"
                        >
                            <img
                                src="/src/img/cloud-app.jpg"
                                width="400"
                                height="400"
                                alt="cloud-app"
                                loading="lazy"
                            />

                            <div class="our-portfolio__desc">
                                <span class="_small-title _st-color-1">Cloud App</span>
                            </div>

                        </a>

                    </div>

                    <div class="square -ourportfolio_purple-2">
                        <img
                            src="/src/img/square-purple.svg"
                            width="98"
                            height="70"
                            alt="square red"
                            loading="lazy"
                        />
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="our-portfolio__content">

                        <a
                            class="our-portfolio__content__link _img__resp-block"
                            href="#"
                        >
                            <img
                                src="/src/img/design-furniture-app.jpg"
                                width="350"
                                height="350"
                                alt="design-furniture-app"
                                loading="lazy"
                            />

                            <div class="our-portfolio__desc">
                                <span class="_small-title _st-color-1">Design
                                    Furniture App</span>
                            </div>

                        </a>

                    </div>
                </div>

                <button class="btn btn__transparent _st-color-4">Contact us</button>

            </div>

        </div>

    </div>
</div>