<div class="container">
    <div class="our-team-wrap">

        <div class="row">
            <div class="col-12">
                <div class="our-team__title">
                    <span class="_small-title _st-color">About Us</span>
                    <h2 class="title _block-title">Our Teammate</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>
        </div>

    </div>
</div>