<div class="container">
    <div class="our-services-wrap">
        <div class="row">

            <div class="col-lg-6">
                <div class="our-services-info _t-center">
                    <span class="_small-title _st-color-4">Our Services</span>

                    <h2 class="title _block-title">Perfect and Fast Movement</h2>

                    <p class="desc _main-desc">We move with make a Creative
                        Strategy for help your business goal, we help to improve
                        your income by a services we have. make your content
                        look interesting and make people look for your business</p>

                    <div class="read-more">
                        <a href="#" class="read-more__content">
                            <span class="_st-color-4">Read more</span>
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M15 18L21 12L15 6"
                                    stroke="#377DFF"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M3 12H20"
                                    stroke="#377DFF"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M21 12H20"
                                    stroke="#377DFF"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">

                <div class="our-services-images">

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="our-services-images__content">
                                <div class="tv _border-rad-100">
                                    <img
                                        src="/src/img/monitor.svg"
                                        width="42"
                                        height="42"
                                        alt="tv"
                                        loading="lazy"
                                    />
                                </div>
                                <span class="desc _st-color-2">Social Media
                                    Management</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="our-services-images__content">
                                <div class="search _border-rad-100">
                                    <img
                                        src="/src/img/settings.svg"
                                        width="42"
                                        height="42"
                                        alt="search"
                                        loading="lazy"
                                    />
                                </div>
                                <span class="desc _st-color-2">Search Engine
                                    Opimization</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="our-services-images__content">
                                <div class="design _border-rad-100">
                                    <img
                                        src="/src/img/pen-tool.svg"
                                        width="42"
                                        height="42"
                                        alt="design"
                                        loading="lazy"
                                    />
                                </div>
                                <span class="desc _st-color-2">Design</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="our-services-images__content">
                                <div class="ads _border-rad-100">
                                    <img
                                        src="/src/img/tv.svg"
                                        width="42"
                                        height="42"
                                        alt="ads"
                                        loading="lazy"
                                    />
                                </div>
                                <span class="desc _st-color-2">Ads</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>