<div class="container">
    <div class="our-team-wrap">

        <div class="our-team__title _t-center">
            <span class="_small-title _st-color-4">About Us</span>
            <h2 class="title _block-title">Our Teammate</h2>
        </div>

        <div class="our-team-content">
            <div class="row">

                <div class="col-lg-6 our-team-img-wrap">

                    <div class="our-team-img _img__resp-block">

                        <div class="square -ourteam_red">
                            <img
                                src="/src/img/square-red.svg"
                                width="98"
                                height="70"
                                alt="square red"
                                loading="lazy"
                            />
                        </div>

                        <img
                            class="our-team-img__main"
                            src="/src/img/our-team-img.jpg"
                            width="565"
                            height="402"
                            alt="our team image"
                            loading="lazy"
                        />

                        <div class="square -ourteam_purple">
                            <img
                                src="/src/img/square-purple.svg"
                                width="98"
                                height="70"
                                alt="square red"
                                loading="lazy"
                            />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="our-team-info">
                        <p class="desc _main-desc">We move with make a Creative
                            Strategy for help your business goal, we help to
                            improve your income by a services we have. make your
                            content look interesting and make people look for
                            your business.</p>
                        <p class="desc _main-desc">We move with make a Creative
                            Strategy for help your business goal, we help to
                            improve your income by a services we have. make your
                            content look interesting and make people look for
                            your business.</p>

                        <div class="our-team-info__buttons">
                            <button class="btn btn__main">About Us</button>

                            <button class="btn btn__transparent">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                        stroke="#377DFF"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M10 8L16 12L10 16V8Z"
                                        stroke="#377DFF"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>

                                <span>Our Story</span>

                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>