<div class="container">

    <div class="our-portfolio-wrap">

        <div class="row">
            <div class="col-12">
                <div class="our-portfolio__title">
                    <span class="_small-title _st-color">Our Portfolio</span>
                    <h2 class="title _block-title">What do we do</h2>
                    <p class="desc">all projects that we have already done ,
                        proven can help to use more comfortable, then can used
                        by client from our business</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12"></div>
        </div>

    </div>
</div>