<div class="container">
    <div class="partners-wrap _main-wrap">

        <h2 class="title">More than 100,000+ teams are using Collab</h2>

        <div class="partners__content">
            <div class="row">
                {{#each partners}}
                    <div class="col-sm-4 col-lg-3 col-xl-2 _img__resp-block">
                        <img
                            src="/src/img/icons/{{this}}.svg"
                            width="178"
                            height="100"
                            alt="{{this}}"
                            title="{{this}}"
                        />
                    </div>
                {{/each}}
            </div>

        </div>

    </div>
</div>