<div class="container">

    <div class="reviews-wrap">

        <div class="reviews__title _t-center">
            <span class="_small-title _st-color-4">Testimonial</span>
            <h2 class="title _block-title">People Talk about us</h2>

            <div class="square -aboutus_blue">
                <img
                    src="/src/img/square-blue1.svg"
                    width="98"
                    height="70"
                    alt="square blue"
                    loading="lazy"
                />
            </div>
        </div>

        <div class="reviews__content-wrap">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="reviews__content-rad">
                        <div class="reviews__content">
                            <div class="row">
                                <div class="col-md-4 col-sm-3">
                                    <img
                                        src="/src/img/angel-rose.svg"
                                        width="70"
                                        height="70"
                                        alt="Angel Rose"
                                        aria-hidden="true"
                                    />
                                </div>

                                <div class="col-md-8 col-sm-9">
                                    <div
                                        class="row reviews__content__reviewer-info"
                                    >
                                        <span class="name _st-color-4">About Us</span>
                                        <span>Creative Manager</span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <p
                                        class="reviews__content__reviewer-desc"
                                    >There are many variations passages of Lorem
                                        Ipsum majority some by words which don't
                                        look .
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-lg-4">

                    <div class="reviews__content-rad">
                        <div class="reviews__content">
                            <div class="row">
                                <div class="col-md-4 col-sm-3">
                                    <img
                                        src="/src/img/angel-rose.svg"
                                        width="70"
                                        height="70"
                                        alt="Angel Rose"
                                        aria-hidden="true"
                                    />
                                </div>

                                <div class="col-md-8 col-sm-9">
                                    <div
                                        class="row reviews__content__reviewer-info"
                                    >
                                        <span class="name _st-color-4">About Us</span>
                                        <span>Creative Manager</span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <p
                                        class="reviews__content__reviewer-desc"
                                    >There are many variations passages of Lorem
                                        Ipsum majority some by words which don't
                                        look .
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="reviews__content-rad">
                        <div class="reviews__content">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-lg-4">
                                    <img
                                        src="/src/img/angel-rose.svg"
                                        width="70"
                                        height="70"
                                        alt="Angel Rose"
                                        aria-hidden="true"
                                    />
                                </div>

                                <div class="col-sm-9 col-md-10 col-lg-8">
                                    <div
                                        class="row reviews__content__reviewer-info"
                                    >
                                        <span class="name _st-color-4">About Us</span>
                                        <span>Creative Manager</span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <p
                                        class="reviews__content__reviewer-desc _main-desc"
                                    >There are many variations passages of Lorem
                                        Ipsum majority some by words which don't
                                        look .
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>