{
  "presets": [
    // Предустановки Babel (Плагины)
    ["@babel/preset-env"], // Для интеграции со списками браузеров
    [
      "@babel/preset-react", // Для поддержки react
      {
        "runtime": "automatic" // Автоматический запуск плагина
      }
    ]
  ]
}
