**/cache
**/.cache
.cache/
cache/
node_modules/
**package-lock.json
**settings.json
*.txt
*.zip
Test/
my-app/
bootstrap-5.3.2*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
