.about-us {
    &-wrap {
        margin-bottom: 250px;

        @media (max-width: $lg) {
            margin-bottom: 100px;
        }
    }

    &__title {
        margin-bottom: 50px;
        position: relative;

        > .title {
            margin-top: 25px;
            margin-bottom: 50px;
        }
    }

    &__content {
        box-shadow: $box-shadow2;
        border-radius: 20px;
        padding: 50px 40px 110px;

        &-wrap {
            .col-md-6 {

                @media (max-width: $lg) {
                    margin-bottom: 25px;
                }
            }
        }

        &__reviewer-info {
            @media (max-width: $sm) {
                margin-top: 25px;
            }
        }

        &__reviewer-desc {
            margin-top: 25px;
            font-size: 1.125rem;
            line-height: 156%;
            letter-spacing: 0.01em;
        }
    }
}
