.b-impact {
    &-wrap {
        margin-bottom: 200px;

    }

    &-img {
        position: relative;
        display: flex;

        @media (max-width: $lg) {
            display: none;
        }

        &__main {
            z-index: 5;
            position: absolute;
            transform: translate(45%, -5%);

            @media (max-width: $xxl) {
                transform: translate(15%, -5%);
            }

            @media (max-width: $xl) {
                transform: translate(-15%, -5%);
            }
        }

        &__dop {
            position: relative;
            margin-left: auto;
            z-index: 10;
            top: -100px;
            right: 0;
        }
    }

    &-content {
        position: relative;
        z-index: 20;
        max-width: 432px;

        > .title {
            margin-bottom: 25px;
        }

        > .desc {
            font-size: 1.125rem;
            letter-spacing: 0.36px;
            line-height: 28.8px;
        }
    }
}
