.btn {
    border-radius: 24px;
    padding: 12px 20px;
    height: 48px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;

    &__transparent {
        border: 1px solid #e2e2e2;
        color: $text_color;
        background-color: transparent;

        &:hover,
        &:focus-visible {
           background-color: $text_color;
           color: $body_color;
        }

        &:active {
            background-color: $active1-color;
        }
    }
}
