.cart {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 5px;
    margin-right: 15px;
    transition: opacity 1s ease;

    &:hover,
    &:focus-visible {
        > .title {
            text-decoration: underline;
        }
    }

    @media (max-width: $lg) {
        position: absolute;
        visibility: hidden;
    }

    > svg {
        width: 17px;
        height: 17px;
        margin-right: 8px;
    }

    > .title {
        margin-right: 8px;
    }

    > .count {
        display: flex;
        @include f-center();

        width: 20px;
        height: 18px;
        padding: 1px;
        border-radius: 9px;

        background: darkgray;
    }
}
