.collab {
    &-wrap {
        height: 600px;
        margin-bottom: 200px;

        @media (max-width: $xl) {
            height: auto;
            margin-bottom: 100px;
        }
    }

    &-img {
        position: relative;

        @media (max-width: $lg) {
            display: none;
        }

        &__main {
            z-index: 10;
        }

        &__dop {
            position: absolute;
            z-index: 5;
            transform: translate(-60%, 100%);

            @media (max-width: $xl) {
                transform: translate(-90%, 100%);
            }
        }
    }

    &-content {
        position: relative;
        z-index: 20;

        > .title {
            margin-bottom: 25px;
        }

        > .desc {
            font-size: 1.125rem;
            letter-spacing: 0.36px;
            line-height: 28.8px;
        }

        &__preims {
            @include f-column();
            gap: 15px;
            margin-top: 35px;
            margin-left: 35px;
            margin-bottom: 50px;

            @media (max-width: $xl) {
                margin-left: 0;
            }
        }
    }
}
