.collab {
    &-wrap {
        margin-bottom: 115px;

        @media (max-width: $lg) {
            margin-bottom: 75px;
        }
    }

    &-info {
        @include column();
        max-width: 521px;

        @media (max-width: $lg) {
            max-width: 100%;
            align-items: center;
            text-align: center;
        }

        > .title {
            margin-bottom: 20px;
        }

        > .desc {
            line-height: 170%;
            margin-bottom: 25px;
        }

        > .btn__main {
            width: 193px;
        }
    }

    &-images {
        position: relative;

        @media (max-width: $lg) {
            display: none;
        }

        &__content {
            position: relative;

            &.-long {
                width: 325px;
                height: 288px;
                z-index: 10;

                > img {
                    z-index: 10;
                }
            }

            &.-short {
                width: 294px;
                height: 288px;
                position: absolute;
                right: 80px;
                top: -90px;

                > img {
                    z-index: 5;
                }
            }
        }
    }
}
