.elipse {
    position: absolute;
    width: 16px;
    height: 16px;

    &.-offer_purple {
        left: 0;
        bottom: 250px;
    }

    &.-collab_yellow {
        right: -100px;
        bottom: 250px;
    }

    &.-b-impact_yellow {
        right: 50px;
        bottom: -40px;

        @media (max-width: $lg) {
            display: none;
        }
    }
}
