.header {
    &__fluid {
        position: relative;
        transition: all 1s ease;
        top: 0;
        z-index: 100;

        &.active {
            @media (max-width: $lg) {
                height: 100vh;

                > .logo {
                    pointer-events: none;
                }
            }
        }

        &.-scroll {
            position: sticky;

            @media (max-width: $lg) {
                .logo {
                    opacity: 0;
                    visibility: hidden;
                }

                .theme-switcher {
                    opacity: 0;
                    visibility: hidden;
                }

                .hamburger {
                    transition: all 1s ease;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    bottom: auto;
                    padding: 20px;

                    &.active {
                        background-color: transparent !important;
                    }
                }

                .header__menu.active {
                }
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        padding-top: 72px;
        padding-bottom: 68px;

        @media (max-width: $lg) {
            padding-top: 40px;

            > .btn {
                display: none;
            }
        }

        > .btn {
            width: 181px;
        }
    }

    &__menu {
        display: flex;
        margin-right: auto;

        @media (max-width: $lg) {
            display: none;
        }

        > #home-link {
            font-weight: 700;
        }

        > .nav-item {
            margin-right: 50px;

            &:nth-last-child(1) {
                margin: 0;
            }
            &:hover,
            &:focus-visible {
                text-decoration: underline;
            }
        }

        &.active {
            @media (max-width: $lg) {
                @include column();

                position: absolute;
                left: 0;
                padding-top: 100px;
                animation: opacity-is-shown 0.5s forwards;
                height: 100vh;
                flex-direction: column;
                margin: 0;
                gap: 30px;
                z-index: 9;
                width: 100%;
                text-align: center;

                @media (orientation: landscape) {
                    flex-wrap: wrap;
                    flex-direction: row;
                    height: auto;
                    width: auto;
                    left: auto;

                    padding-top: 30px;
                    padding-left: 20px;
                    padding-right: 20px;

                    > .nav-item {
                        font-size: 1.5rem !important;
                    }
                }

                > .nav-item {
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 2.6rem;
                    font-weight: 500;
                    padding-right: 20px;
                    padding-left: 20px;
                    margin: 0;
                }
            }
        }
    }
}
