.offer {
    &-wrap {
        // margin-bottom: 140px;
        margin-top: 90px;
        margin-bottom: 140px;

        @media (max-width: $lg) {
            margin-bottom: 100px;
        }
    }

    &-content {
        @include f-column();

        &-wrap {
        }

        > .title {
            max-width: 470px;
            min-height: 179px;
            min-width: 179px;

            margin-bottom: 25px;
        }

        > .desc {
            font-size: 1.125rem;
            padding-right: 15px;
        }

        > .btn-block {
            display: flex;

            @media (max-width: $lg) {
                flex-direction: column;
            }

            > .btn__main {
                margin-top: 30px;
                margin-right: 24px;
                width: 240px;
            }

            img {
                @media (max-width: $lg) {
                    display: none;
                }
            }

            .lg-desc {
                color: red;
                margin-top: 5px;

                @media (min-width: $lg) {
                    display: none;
                }
            }
        }
    }

    &-images {
        display: flex;
        position: relative;
        max-width: 600px;
        height: 600px;
        justify-content: center;

        @media (max-width: $lg) {
            display: none;
        }

        > .main-img {
            z-index: 5;
        }

        > img {
            z-index: 10;
        }
    }

    &__img {
        position: absolute;

        &.-img_1 {
            width: 90px;
            height: 90px;
            left: 0;
            top: 100px;
        }

        &.-img_2 {
            width: 90px;
            height: 90px;
            right: 0;
            top: -40px;
        }

        &.-img_3 {
            top: 140px;
            right: 0;
            z-index: 15;
        }

        &.-img_4 {
            bottom: 0;
            left: 0;
        }
    }
}
