.offer {
    &-wrap {
        margin-bottom: 210px;

        @media (max-width: $lg) {
            margin-bottom: 0;
        }
    }

    &-content {
        @include column();
        align-items: center;

        &-wrap {
          
        }

        > .title {
            max-width: 749px;
            min-height: 179px;
            min-width: 179px;

            margin-bottom: 25px;
        }

        > .desc {
            line-height: 150%;

            text-align: start;

            @media (min-width: $sm) {
                text-align: center;
            }
        }

        > .btn__main {
            margin-top: 30px;
            width: 201px;
        }
    }

   
}
