.our-team {
    &-wrap {
        margin-bottom: 150px;

        @media (max-width: $lg) {
            margin-bottom: 100px;
        }
    }

    &__title {
        margin-bottom: 40px;

        > .title {
            margin-top: 25px;
        }
    }

    &-img {
        position: relative;

        @media (max-width: $lg) {
            width: 100%;
        }

        &-wrap {
            @media (max-width: $lg) {
                display: flex;
                order: 2;
                margin-top: 70px;
            }
        }

        &__main {
            z-index: 20;
            border-radius: 24px;
            width: 100%;

            @media (max-width: $lg) {
                border-radius: 12px;
            }
        }
    }

    &-info {
        padding-left: 65px;
        max-width: 610px;

        @media (max-width: $lg) {
            padding: 0;
            max-width: 100%;
        }

        > .desc {
            line-height: 160%;

            &:nth-child(2) {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        &__buttons {
            display: flex;
            gap: 25px;

            @media (max-width: $sm) {
                flex-wrap: wrap;
            }

            > .btn__main {
                width: 171px;
            }

            > .btn__transparent {
                justify-content: center;
                width: 210px;
                gap: 10px;
            }
        }
    }
}
