.our-portfolio {
    &-wrap {
        margin-bottom: 145px;

        @media (max-width: $lg) {
            margin-bottom: 100px;
        }
    }

    &__title {
        @include column();
        @include f-center();
        margin-bottom: 50px;
        position: relative;

        > .title {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        > .desc {
            max-width: 600px;
            line-height: 170%;
            line-height: 170%;
            text-align: center;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;

        &-wrap {
            > .row {
                align-items: center;
                justify-content: center;
            }

            .col-md-6 {
                position: relative;
                @media (max-width: $lg) {
                    margin-bottom: 45px;
                }
            }

            .btn__transparent {
                width: 226px;
                margin-top: 35px;
            }
        }

        &__link {
            display: flex;
            border-radius: 30px;

            &.-long {
                width: 400px;
                height: 400px;

                @media (max-width: $lg) {
                    width: 340px;
                    height: 338px;
                }
            }

            &.-short {
                width: 350px;
                height: 350px;

                @media (max-width: $lg) {
                    width: 300px;
                    height: 300px;
                }
            }

            > .our-portfolio__desc {
                position: absolute;
                bottom: 32px;
                left: auto;
                margin-left: 40px;
            }

            > img {
                border-radius: 30px;
            }
        }
    }
}
