.our-services {
    &-wrap {
        margin-bottom: 115px;

        @media (max-width: $lg) {
            margin-bottom: 75px;
        }
    }

    &-info {
        max-width: 521px;

        @media (max-width: $lg) {
            max-width: 100%;
            text-align: center;
        }

        > .title {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        > .desc {
            line-height: 160%;
            margin-bottom: 35px;
        }

        > .read-more {
            display: flex;
            justify-content: flex-end;

            @media (max-width: $lg) {
                justify-content: flex-start;
            }

            .read-more__content {
                display: flex;
                gap: 15px;
            }
        }
    }

    &-images {
        max-width: 565px;
        padding-left: 25px;

        @media (max-width: $lg) {
            max-width: 100%;
            padding-top: 25px;
            padding-left: 0;
        }

        @media (max-width: $sm) {
            div[class^="col"] {
                display: flex;
                justify-content: center;
            }
        }

        &__content {
            @include column();
            @include f-center();

            padding: 35px 0;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            margin-bottom: 25px;

            @media (max-width: $lg) {
                padding: 35px 20px;
                min-height: 200px;
            }

            @media (max-width: $sm) {
                width: 262px;
            }

            > .tv {
                background-color: #377dff;
            }

            > .search {
                background-color: $elem-color1;
            }

            > .design {
                background-color: $elem-color2;
            }

            > .ads {
                background-color: $elem-color3;
            }

            > .desc {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 142%;
                letter-spacing: 0.01em;
                text-align: center;

                margin-top: 32px;
            }
        }
    }
}
