.preloader {
    text-align: center;
    height: 100vh;

    @include flexcolumn();
    justify-content: center;
    align-items: center;

    > .loader {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #fff #0000 #377dff #0000;
        border-radius: 50%;
        box-sizing: border-box;
        animation: 1s rotate linear infinite;

        &:before,
        &:after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            border: 10px solid transparent;
            border-bottom-color: #377dff;
            transform: translate(-10px, 19px) rotate(-35deg);
        }

        &:after {
            border-color: #fff #0000 #0000 #0000;
            transform: translate(32px, 3px) rotate(-35deg);
        }
    }

    > .loader-text {
        padding-top: 10px;
        @include font-size(3rem);
    }
}
