.square {
    position: absolute;
    width: 98px;
    height: 70px;

    &.-ofimg_blue {
        top: -20px;
        left: 174px;

        @media (max-width: $lg) {
            top: auto;
            bottom: -10px;
            right: auto;
            left: -10px;
        }
    }

    &.-ofimg_red {
        bottom: -20px;
        left: 174px;

        @media (max-width: $lg) {
            top: -10px;
            right: -10px;
            left: auto;
        }
    }

    &.-ofimg_green {
        bottom: -10px;
        left: 214px;

        @media (max-width: $lg) {
            display: none;
        }
    }

    // Our team
    &.-ourteam_red {
        top: -20px;
        left: -30px;

        @media (max-width: $lg) {
            top: auto;
            left: auto;
            right: 0;
            bottom: -10px;
        }
    }

    &.-ourteam_purple {
        bottom: -20px;
        right: -30px;

        @media (max-width: $lg) {
            top: -10px;
            left: 0;
        }
    }
}
