.square {
    position: absolute;
    width: 98px;
    height: 70px;

    &.-ofimg_blue {
        top: -20px;
        left: 174px;

        @media (max-width: $lg) {
            top: auto;
            bottom: -10px;
            right: auto;
            left: -10px;
        }
    }

    &.-ofimg_red {
        bottom: -20px;
        left: 174px;

        @media (max-width: $lg) {
            top: -10px;
            right: -10px;
            left: auto;
        }
    }

    &.-ofimg_green {
        bottom: -7px;
        left: 214px;

        @media (max-width: $lg) {
            display: none;
        }
    }

    // Our team
    &.-ourteam_red {
        top: -20px;
        left: -30px;

        @media (max-width: $lg) {
            top: auto;
            left: auto;
            right: 0;
            bottom: -10px;
        }
    }

    &.-ourteam_purple {
        bottom: -20px;
        right: -30px;

        @media (max-width: $lg) {
            top: -10px;
            left: 0;
        }
    }

    // Our portfolio
    &.-ourportfolio_purple {
        right: 0;
        transform: rotate(160deg);
        bottom: -50px;

        @media (max-width: $lg) {
            display: none;
        }
    }

    &.-ourportfolio_purple-2 {
        transform: rotate(20deg);
        left: -10px;
        top: 100px;

        @media (max-width: $lg) {
            display: none;
        }
    }

    // About us
    &.-aboutus_blue {
        transform: rotate(20deg);
        top: -50px;
        left: 150px;

        @media (max-width: $lg) {
            display: none;
        }
    }
}
