// Global selectors styles
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p,
a,
ul,
li,
span,
button,
label,
input,
input::placeholder,
textarea,
[type=submit],
address,
q {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
  font-size: 1.5rem;
}
