// Global selectors styles
// @font-face {
//   font-display: swap;
//   text-rendering: optimizeLegibility;
//   font-family: "JostRegular";
//   src: url(/webfonts/JostRegular.woff) format("woff");
// }
#l-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  padding: 0%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

div,
p,
a,
ul,
li,
span,
button,
label,
input,
input::placeholder,
textarea,
[type="submit"],
address,
q {
  font-family: "JostRegular", sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

[type="submit"] {
  cursor: pointer;
}

address {
  font-style: normal;
  font-size: 1.5rem;
}
