// Import mixins, variables
@import "mixins_var.scss";
/* === Классы макетов === */
.l-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.l-preloader {
  @include flexcolumn();
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
// === Header ===
.l-header {
  padding-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
}
.l-header-wr {
  display: flex;
  align-items: center;
}
// === Main ===
// Общие классы (Main)
.l-feni-section,
.btn-focus {
  margin-left: auto;
  margin-right: auto;
}
.l-feni-start {
  display: flex;
  justify-content: space-between;
}
.l-fs-content {
  > .fs-desc {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
// Max-width
.l-fm {
  max-width: 1110px;
}
// Общие классы (Home) (fs, fi, fb, feni-services)
.l-feni-start,
.l-feni-info,
.l-feni-briefs,
.l-prices {
  padding-left: 100px;
}
// === Все классы (Main) ===
.l-main {
  padding-top: 100px;
}
//  === Home ===
// Feni hi
.l-feni-hi {
  margin-bottom: 50px;
}
.l-fh-content {
  max-width: 307px;
}
// Feni-info
.l-feni-info {
  margin-bottom: 100px;
  > .feni-info-title,
  > .feni-info-desc {
    max-width: 94%;
  }
  > .feni-info-title {
    padding-top: 15px;
    padding-bottom: 40px;
    font-weight: 700;
  }
}
// Feni-preview
.l-feni-preview {
  margin-bottom: 100px;
}
.l-fp-section-title > .section-title {
  text-align: center;
}
.l-fp-section-content {
  padding-top: 40px;
  > .fp-work-main {
    flex-basis: 100%;
    height: 560px;
  }
  > .fp-work-focus {
    flex-basis: 60%;
  }
  > .fp-work-mini {
    flex-basis: 40%;
  }
  // Общие классы (Feni-preview)
  > .fp-work-focus,
  > .fp-work-mini {
    height: 497px;
  }
  > .btn-link {
    margin-top: 80px;
  }
}
// Briefs
.l-feni-briefs {
  margin-bottom: 100px;
  > .feni-briefs-desc {
    width: 66%;
    padding-top: 25px;
  }
  > .feni-briefs-content {
    padding: 40px 0 0 40px;
  }
}
// Partners
.l-feni-partners {
  margin-bottom: 100px;
  > .feni-partners-desc {
    text-align: center;
    margin-bottom: 100px;
    width: 70%;
  }
  .fp-desc {
    width: 64%;
    padding-top: 25px;
  }
  > .feni-partners-img {
    justify-content: center;
    > .fp-img {
      width: auto;
    }
  }
}
// Discuss Project
.l-feni-discuss-project {
  padding-top: 100px;
}
.l-fdp-content {
  display: flex;
  column-gap: 60px;
  padding-right: 100px;
  padding-left: 100px;
  > .fdp-content-info {
    width: 35%;
    > .fdp-desc {
      padding-top: 25px;
    }
  }
  .form-img {
    position: absolute;
    left: -130px;
    bottom: 0px;
  }
  > .fdp-content-form {
    display: flex;
    flex-wrap: wrap;
    transition: all ease 0.5s;
    width: 65%;
    padding-bottom: 80px;
    z-index: 6;
  }
}
.l-feedback-row {
  width: 100%;
  margin-bottom: 30px;
  &.top {
    padding-right: 50px;
    width: 53%;
  }
  &.right {
    padding-right: 43px;
    width: 41%;
  }
  &.left {
    width: 50%;
  }
  > .form-input {
    width: 100%;
    margin-top: 15px;
    padding: 0 10px 10px 0;
  }
  > .message-input {
    border: none;
    resize: none;
  }
}
// === Portfolio ===
.l-portfolio {
  margin-bottom: 50px;
}
.l-port-section-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  > .section-title {
    text-align: center;
  }
}
// Up btn
.l-up-btn {
  display: flex;
  justify-content: center;
}
// === Project ===
.l-main-project {
  padding-top: 20px;
  > .project-img {
    max-width: 100%;
    justify-content: center;
    > img {
      width: auto;
      object-fit: cover;
    }
  }
  > .project-content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 245px;
    max-width: 1110px;
    > .project-desc {
      max-width: 65%;
      margin: 50px auto 50px 0;
    }
    > .project-client {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .btn-tab-link {
    white-space: nowrap;
    gap: 10px;
    margin-top: 20px;
  }
}
// === Services ===
.l-services {
  padding-top: 50px;
}
.l-fs-title {
  text-align: center;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  > .fs-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 35px;
  }
}
.l-feni-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
  grid-gap: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
}
.l-feni-service {
  border: 1px solid $b55;
  padding: 40px;
  &:hover,
  &:focus-visible {
    outline: $ff5;
    border: 1px solid $ff5;
    > .feni-check {
      > span {
        color: $ff5;
      }
      > svg path {
        stroke: $ff5;
      }
    }
  }
  > .feni-service-title {
    font-weight: 700;
  }
  > .feni-service-desc {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  > .feni-check {
    display: flex;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap;
    > span {
      font-weight: 700;
    }
  }
}
// --- Services Nested ---
.l-service-preview {
  margin-bottom: 100px;
}
.l-lfp {
  max-width: 430px;
}
.l-service-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  > .btn-bw55 {
    &:hover,
    &:focus-visible {
      color: $wff;
      background-color: $ff5;
    }
  }
}
// Slides
.l-process-dev {
  margin-bottom: 150px;
  > .pd-title {
    padding-bottom: 50px;
    padding-left: 80px;
  }
}
.l-process-dev-slider {
  padding-right: 30px;
  padding-left: 120px;
}
// Service Works
.l-service-works {
  margin-bottom: 100px;
  > .service-works-title {
    padding-left: 40px;
    font-weight: 600;
  }
}
// Prices
.l-prices {
  margin-bottom: 100px;
  padding-right: 30px;
  > .prices-title {
    text-align: center;
    margin-bottom: 50px;
  }
}
.l-project-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
.l-price-project {
  width: 28.5%;
  transition: all ease 0.5s;
  > .price-project-info {
    text-align: center;
    > .price-project-title {
      margin-bottom: 40px;
    }
  }
  > .btn-order {
    margin-top: 40px;
  }
}
.l-project-points-list {
  margin-top: 50px;
  > .project-point {
    align-items: center;
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;
  }
}
.l-unique-project {
  width: 62.3%;
  text-align: center;
  > .unique-title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  > .btn-order {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
// Общие классы (Prices)
.l-price-project,
.l-unique-project {
  padding: 20px;
  border: 1px solid #cfcece;
  &:hover {
    border-color: $b55;
    > .btn-order {
      background-color: $b55;
      color: #e5e5e5;
    }
    // Наведение на before
    &::before {
      display: block;
    }
  }
  // Before
  &::before {
    display: none;
    content: "";
    position: absolute;
    margin-right: 0px;
    margin-top: -21px;
    width: 27px;
    height: 43px;
    background-image: url("../img/mark.svg");
    background-repeat: no-repeat;
  }
}
// Identify Prices
.l-pp-identify {
  > .l-unique-project {
    width: 100%;
  }
}
// Benefits
.l-benefits {
  padding-left: 50px;
  padding-right: 30px;
  margin-bottom: 100px;
  > .benefits-title {
    margin-bottom: 80px;
  }
}
.l-benefits-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > .benefits-item {
    padding: 20px;
    width: 20%;
  }
  .benefits-img {
    margin-bottom: 25px;
  }
}
// === About ===
.l-feni-about {
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  row-gap: 20px;
}
.l-fa-title {
  padding-right: 51px;
}
.l-fa-desc {
  max-width: 665px;
  > p:nth-child(2) {
    padding-top: 40px;
  }
}
.l-feni-about-skills {
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 100px;
}
.l-skill-content {
  transition: all ease 0.5s;
  width: 22%;
  > .skill-title {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
.btn-fa {
  margin-bottom: 100px;
  > span {
    padding-left: 10px;
    padding-right: 10px;
  }
}
// === Contacts ===
.l-feni-contacts-title {
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}
.l-feni-contacts {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
  justify-content: center;
  > .fcon-img {
    max-width: 504px;
  }
  .contacts-title {
    margin-bottom: 15px;
  }
  .contact-info.num {
    margin-top: 40px;
  }
  .contact-info.media {
    margin-top: 40px;
  }
}
// === Footer ===
.l-footer {
  padding-top: 70px;
  padding-bottom: 40px;
  @include flexcolumn();
}
.l-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 100px;
  row-gap: 20px;
  max-width: 100%;
  > .fc-first {
    width: 25%;
    padding: 0;
  }
  > .fc-links {
    @include flexcolumn();
    padding-left: 0;
    padding-right: 31px;
  }
}
.l-footer-bottom {
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  > .footer-copyright {
    padding-right: 10px;
  }
  > .footer-link {
    text-decoration: underline;
    padding-right: 10px;
    margin-bottom: 0;
  }
  > span,
  > a {
    font-size: 0.75rem;
    line-height: 15px;
    white-space: nowrap;
  }
}
// === Not found ===
.l-not-found {
  padding-top: 50px;
  padding-left: 80px;
  padding-bottom: 100px;
  row-gap: 50px;
  > .fnf-content {
    max-width: 276px;
    > .fnf-title {
      margin-bottom: 50px;
    }
  }
  .btn-fnf {
    margin-left: 0;
  }
}
