// Import mixins
@import "mixins_var.scss";
/* Стили медиа-запросов */
// 1400px
@media (max-width: 1399.98px) {
  // === Header ===
  .header-menu > .nav-item {
    margin-right: 35px;
  }
  // === Footer ===
  .l-footer-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
// 1200px
@media (max-width: 1199.98px) {
  // === Header ===
  .l-header {
    padding-left: 85px;
    padding-right: 85px;
  }
  .btn-head {
    width: 140px;
  }
  // === Main ===
  // === Home ===
  // Feni-preview
  .l-fp-section-title {
    width: initial;
    margin-left: 40px;
    margin-right: 40px;
  }
  .fp-works-tabs {
    > .btn-tab {
      margin-right: 19px;
    }
  }
  .l-fp-section-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  // === Portfolio ===
  .port-works-tabs {
    padding-left: 40px;
    > .btn-tab {
      margin-right: 35px;
    }
  }
  // === Project ===
  .project-content {
    padding-left: 150px;
  }
  // === Services ===
  .l-feni-services {
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  }
  .l-feni-service {
    padding: 20px;
  }
  // --- Services (Вложенные) ---
  .l-unique-project {
    width: 61.7%;
  }
  // === About ===
  .l-feni-about-skills {
    row-gap: 20px;
  }
  .l-skill-content {
    width: 45%;
  }
  // === Footer ===
  .l-footer-content > .fc-first {
    width: 15%;
  }
}
// 1024px
@media (max-width: 1024.98px) {
  // Common classes
  .l-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  // === Header ===
  .logo {
    margin-right: 25px;
  }
  .header-menu {
    width: 47%;
    > .nav-item {
      margin-right: 17px;
    }
  }
  .disc-head {
    width: 44%;
    > .feni-tel {
      margin-right: 35px;
    }
  }
  // === Main ===
  // === Home ===
  // Feni preview
  .l-fp-section-title {
    margin-left: 20px;
    margin-right: 20px;
  }
  .l-fp-section-content {
    column-gap: 0;
    > .fp-work-main,
    > .fp-work-focus,
    > .fp-work-mini {
      flex-basis: 100%;
      height: 321px;
    }
    > .fp-rtl {
      padding-right: 0;
    }
    > .fp-ltl {
      padding-left: 0;
    }
  }
  .fp-ltl > .work-desc {
    left: 30px;
  }
  .fp-works-tabs {
    padding-left: 0;
    > .btn-tab {
      margin-right: 12px;
    }
  }
  // Общие классы (Feni preview, Portfolio)
  .works-content {
    row-gap: 10px;
  }
  // Briefs
  .l-feni-briefs {
    > .feni-briefs-desc {
      width: 82%;
    }
    > .feni-briefs-content {
      padding: 20px 20px 0;
    }
  }
  .fb-info {
    align-items: flex-start;
    flex-direction: column;
    > .fb-title {
      padding-right: 0;
    }
    > .fb-desc {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
  .fbi-block {
    margin-top: 20px;
  }
  // Partners
  .l-feni-partners .fp-desc {
    width: 100%;
  }
  // === Discuss ===
  .l-fdp-content {
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    > .fdp-content-info {
      width: 100%;
      text-align: center;
    }
    > .fdp-content-form {
      width: 70%;
    }
  }
  .form-img-block {
    display: none;
  }
  .l-feedback-row.top {
    width: 100%;
    padding-right: 0;
  }
  .l-feedback-row.right {
    padding-right: 0;
  }
  .l-feedback-row.right,
  .l-feedback-row.left {
    width: 100%;
  }
  .l-feedback-row.message {
    height: 100px;
    padding-bottom: 30px;
  }
  .checkbox-row {
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    > p {
      font-size: 1rem;
    }
  }
  // === Portfolio ===
  .port-works-tabs > .btn-tab {
    margin-right: 21px;
  }
  .work-img-port {
    width: 50%;
  }
  // === Project ===
  .l-main-project {
    > .project-content {
      padding-left: 100px;
      padding-right: 100px;
      > .project-desc {
        max-width: 100%;
      }
    }
  }
  // === Services ===
  .l-feni-services {
    padding-right: 30px;
    padding-left: 35px;
    grid-template-columns: repeat(auto-fit, minmax(263.1px, 1fr));
  }
  // === Services (Вложенные !!!) ===
  // Prices
  .l-price-project,
  .l-pp-identify > .l-unique-project {
    width: 43.2%;
  }
  .l-unique-project {
    width: 100%;
  }
  .l-price-project,
  .l-unique-project {
    &:hover {
      &::before {
        display: none;
      }
    }
  }
  // Benefits
  .l-benefits-items > .benefits-item {
    width: 41%;
  }
  // === Contacts ===
  .l-contacts {
    padding-top: 50px;
  }
  .l-feni-contacts {
    flex-direction: column;
  }
  // Footer
  // === Not Found ===
  .l-not-found {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
    text-align: center;
    .btn-fnf {
      margin-left: auto;
    }
  }
}
// 768px
@media (max-width: 767.98px) {
  // h1, h2 title
  .section-main-title {
    font-size: 2rem;
  }
  .section-title,
  .fb-info > .fb-title {
    font-size: 1.6rem;
  }
  // === Header ===
  .header-menu {
    > .nav-item {
      margin-right: 0;
      line-height: inherit;
    }
  }
  .disc-head,
  .header-menu {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 40px;
    position: absolute;
    right: 0;
  }
  // === Main ===
  // Общие классы (Main)
  .l-feni-info,
  .l-feni-briefs,
  .l-fdp-content,
  .l-feni-discuss-answer,
  .l-feni-services,
  .l-process-dev > .pd-title,
  .l-process-dev-slider,
  .l-benefits {
    padding-left: 35px;
  }
  // .l-feni-start block
  .l-feni-start {
    padding-left: 35px;
    padding-right: 30px;
  }
  .l-fs-content {
    max-width: 100%;
    > .fs-desc {
      max-width: 90%;
    }
  }
  .l-fs-img {
    display: none;
  }
  // === Home ===
  // Feni info
  .l-feni-info {
    > .feni-info-title {
      font-size: 1.5rem;
    }
  }
  // Feni preview
  .fp-works-tabs {
    flex-wrap: wrap;
    padding-left: 0;
    > .btn-tab {
      margin-right: 15px;
    }
    > .btn-tab-link {
      margin-left: 6px;
    }
  }
  // === Discuss ===
  .l-fdp-content {
    padding-right: 30px;
  }
  // === Portfolio ===
  .port-works-tabs {
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
  }
  .port-section-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .work-img-port {
    width: 100%;
  }
  // === Project ===
  .l-main-project {
    > .project-content {
      padding-left: 30px;
      padding-right: 35px;
    }
  }
  // === Services ===
  .l-feni-services {
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  }
  // --- Services (Вложенные !!!) ---
  // Prices
  .l-process-dev > .pd-title {
    padding-right: 30px;
  }
  .l-price-project,
  .l-pp-identify > .l-unique-project {
    width: 41.3%;
  }
  .l-prices {
    padding-left: 30px;
  }
  // Benefits
  .l-benefits {
    padding-right: 30px;
  }
  // === About ===
  .l-feni-about {
    padding-right: 20px;
  }
  .fa-desc {
    max-width: 94%;
  }
  .l-feni-about-skills {
    justify-content: center;
    padding-left: 35px;
    padding-right: 50px;
  }
  .l-skill-content {
    width: 100%;
  }
  // === Footer ===
  .l-footer-content {
    justify-content: flex-start;
    > .fc-first {
      width: 100%;
    }
  }
}
// 576px
@media (max-width: 575.98px) {
  // === Main ===
  // Feni info
  .l-feni-info > .feni-info-title {
    font-size: 1.2rem;
  }
  // Partners
  .l-feni-partners > .feni-partners-desc {
    width: 90%;
  }
  // === Project ===
  .project-content {
    padding-left: 20px;
    > .project-desc {
      max-width: 90%;
    }
  }
  // === Dicuss ===
  .l-fdp-content > .fdp-content-form {
    width: 80%;
  }
  // === Services ===
  .l-feni-services {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  // --- Services (Вложенные !!!) ---
  // Prices, Benefits
  .l-price-project,
  .l-benefits-items > .benefits-item,
  .l-pp-identify > .l-unique-project {
    width: 100%;
  }
}
// 320px
@media (max-width: 320px) {
  body {
    width: 320px;
  }
}
