/* Миксины */
@mixin flexcolumn() {
  display: flex;
  flex-direction: column;
}
// Переменные
$b1: #1c1d28;
$b55: #5551f7;
$sap: #1b3764;
$ff5: #ff5c66;
$we5: #e5e5e5;
$wff: #f5f5f5;
$ff42: #ffca42;
