/* Миксины */
@mixin flexcolumn() {
  display: flex;
  flex-direction: column;
}
// Переменные
$body_color: #1d1d1d;
$text_color: #e2e2e2;
$footer_color: #383638;
$footer_logo: #e2e2e2;
$b41: #4180b3;
$ff5: #ff5c66;
$we5: #e5e5e5;
$wff: #f5f5f5;
