// Import mixins, variables
@import "mixins_var.scss";
// === Section title, desc ===
// H1
.section-main-title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 145%;
  letter-spacing: 0.05em;
}
// H2
.section-title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0.02em;
}
// H, P
.small-section {
  font-size: 1rem;
  line-height: 145%;
  letter-spacing: 0.05em;
}
.section-desc {
  font-size: 1rem;
  line-height: 185%;
  letter-spacing: 0.02em;
}
/* === Header ===*/
.logo {
  width: 65px;
  height: 65px;
  margin-right: 85px;
}
.header-menu {
  display: flex;
  width: 50%;
  > .nav-item {
    margin-right: 45px;
    &:nth-last-child(1) {
      margin: 0;
    }
    &:hover,
    &:focus-visible {
      color: $ff5;
    }
  }
}
.disc-head {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  > .feni-tel {
    margin-right: 45px;
  }
  > .btn-head {
    min-width: 120px;
  }
}
.hamburger {
  cursor: pointer;
  display: none;
  width: 34px;
  height: 34px;
  z-index: 11;
}
.hamburger > span {
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  border-radius: 2px;
  background-color: $b1;
  transition: all 0.4s;
  &:nth-child(1) {
    top: 0px;
    left: 0px;
    animation: span1_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  &:nth-child(2) {
    top: 8px;
    right: 0px;
    animation: span2_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  &:nth-child(3) {
    animation: span3_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    top: 17px;
    right: 0px;
  }
}
// Common classes
.nav-item,
.feni-tel {
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* Main */
// === Feni-preview ===
.fp-works-tabs {
  padding-top: 40px;
  padding-left: 40px;
  > .btn-tab-link {
    margin-left: auto;
  }
}
// Common classes (Home/Portfolio)
.works-tabs {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  row-gap: 15px;
}
.works-content {
  display: flex;
  flex-wrap: wrap;
}
// === Briefs ===
.fb-info {
  align-items: center;
  display: flex;
  transition: all ease 0.5s;
  > .fb-count,
  > .fb-title {
    padding-right: 30px;
  }
  > .fb-count {
    line-height: 18px;
  }
  > .fb-title {
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 145%;
    letter-spacing: 0.02em;
  }
  > .fb-desc {
    position: relative;
    padding-left: 100px;
    &::before {
      content: "";
      background-color: $b1;
      position: absolute;
      left: 0;
      height: 1px;
      width: 70px;
      top: 50%;
      display: inline-block;
    }
  }
}
// === Discuss Project ===
.feedback-btn {
  border: none;
  min-width: 35%;
  width: 171px;
  height: 41px;
}
// Checkbox
.checkbox-row {
  display: flex;
  align-items: center;
  padding-left: 38px;
  width: 57%;
  user-select: none;
}
.feni-checkbox {
  margin-right: 10px;
}
.feni-checkbox-agree {
  font-size: 0.625rem;
  line-height: 145%;
}
// Общие модули (Form)
.label-feedback {
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
}
.form-input {
  background: transparent;
  outline: none;
  border: none;
  max-width: 100%;
  padding-left: 0;
  font-size: 0.75rem;
  line-height: 15px;
}
// === Porfolio ===
.port-works-tabs {
  padding-top: 80px;
  justify-content: center;
  flex-wrap: wrap;
  > .btn-tab {
    margin-right: 50px;
    padding-right: 5px;
  }
}
.port-section-content {
  padding-top: 50px;
}
.work-img-port {
  height: 321px;
  width: 33.33333333333%;
}
// Общие модули (Porfolio, Project)
.work-img {
  position: relative;
}
.work-desc {
  position: absolute;
  bottom: 40px;
  left: 30px;
  max-width: 200px;
  padding: 15px;
  > .work-desc-title {
    font-size: 1.375rem;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
// === Project ===
.project-title {
  font-weight: 700;
}
.pc-title {
  padding-right: 10px;
  font-weight: 700;
}
// --- Services Вложенные (!!!) ---
// --- Slider ---
.pd-num {
  font-weight: 900;
  font-size: 4.375rem;
  -webkit-text-stroke: 0.007em #5551f7;
  color: transparent;
}
.process-dev-content {
  padding-bottom: 20px;
}
.pdc-up {
  padding-top: 20px;
  padding-bottom: 0;
}
// --- Slider title, Price, Beneftis title, pp-desc ---
.pd-title,
.prices-title,
.price-project-title,
.price,
.pp-desc-strong,
.benefits-title {
  font-weight: 600;
}
// Contacts
.contacts-link {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 145%;
  letter-spacing: 0.02em;
  &:hover,
  &:focus-visible {
    color: $ff5;
  }
}
// === Footer ===
.footer-logo img {
  background-color: #f5f5f5;
  height: 67px;
  padding: 2px;
}
// Common classes
.footer-link {
  font-size: 0.75rem;
  line-height: 185%;
  letter-spacing: 0.02em;
  &:hover,
  &:focus-visible {
    color: $ff5;
  }
}
.footer-links-title,
.footer-link {
  margin-bottom: 20px;
}
.footer-links-title {
  text-transform: uppercase;
}
.footer-contacts {
  display: flex;
  column-gap: 25px;
  row-gap: 20px;
  justify-content: space-between;
}
// Footer, Contacts
.feni-links {
  display: flex;
  flex-direction: column;
}
.feni-media {
  display: flex;
  gap: 15px;
}
// === Общие классы кнопок ===
.btn-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 16px;
  letter-spacing: 0.02em;
  justify-content: center;
  text-align: center;
  width: 171px;
  height: 41px;
}
.btn-tab {
  position: relative;
  margin-right: 60px;
  font-size: 0.938rem;
  line-height: 145%;
}
.btn-tab-num {
  font-size: 0.625rem;
  position: absolute;
  top: -3px;
  right: -8px;
}
.btn-tab-link {
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 0.938rem;
  gap: 5px;
  line-height: 145%;
  letter-spacing: 0.02em;
  width: 123px;
  height: 22px;
  // margin-left: auto;
}
// === Изображения ===
.img__resp-block {
  display: flex;
  transition: all ease 0.5s;
  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
.img__rubber {
  display: flex;
  img {
    height: auto;
    max-width: 100%;
  }
}
