// Import mixins, variables
@import "mixins_var.scss";
/* Состояние модулей (Анимация и подсветка) */
// === Body ===
.overflow-is-hidden {
  overflow: hidden;
}
// === Preloader ===
.preloader-content {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000;
  animation: preloader-spin 2s linear infinite;
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #17191b54;
    animation: preloader-spin 3s linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #091b2b80;
    animation: preloader-spin 1.5s linear infinite;
  }
}
// === Кнопки навигации (Общие классы) ===
.nav-item,
.btn-tab {
  &.active {
    color: $ff5;
    span {
      color: $ff5;
    }
  }
}
// === Header ===
.head-is-switch {
  background-color: $b41;
  .logo {
    background-color: $wff;
    height: 67px;
    padding-top: 2px;
    pointer-events: none;
    cursor: default;
  }
}
.ham-is-active > span {
  background-color: $wff;
  transition: all 0.4s;
  &:nth-of-type(1) {
    animation: span1 0.2s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    animation-delay: 0.5s;
  }
  &:nth-of-type(2) {
    animation: span2 0.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  &:nth-of-type(3) {
    animation: span3 0.2s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    animation-delay: 0.5s;
  }
}
// Во избежание появления со сменой ориентации
// При просмотре всплывающей формы в "Сервисах"
.ham-is-hide {
  display: none;
}
.nav-is-active {
  animation: fadeMe 300ms linear forwards;
  animation-name: menuAnim;
  align-items: center;
  @include flexcolumn();
  justify-content: flex-start;
  margin: 0;
  padding-top: 67px;
  position: absolute;
  gap: 30px;
  top: 99px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  visibility: visible;
  > .nav-item {
    animation: navaactive 1.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.nav-item.active {
  pointer-events: none;
  cursor: default;
}
// === Main ===
// Fproject, Portfolio
.btn-tab.active {
  text-decoration: underline;
}
.work-img {
  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}
// LazyLoad work-desc
.wdl {
  opacity: 0;
}
// Order Form
.of-is-visible {
  display: block;
}
.fof-close {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  &:hover {
    svg path {
      stroke: $b1;
    }
  }
}
/* === Keyframes === */
// Preloader
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// Active menu
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes span1 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(-110deg) translate(-7px, -7px);
  }
  100% {
    transform: rotate(-45deg) translate(-13px, 12px);
  }
}
@keyframes span2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 0) scale(1);
  }
  40% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 0) scale(1);
  }
  50% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 18px) scale(1);
  }
  80% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, -16px) scale(1);
  }
  100% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 100px) scale(0);
  }
}
@keyframes span3 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: rotate(80deg) translate(-7px, -7px);
  }
  100% {
    transform: rotate(45deg) translate(-7px, -7px);
  }
}
@keyframes span1_close {
  0% {
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes span2_close {
  0% {
    transform: translate(0, 40px) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes span3_close {
  0% {
    transform: rotate(45deg) translate(-6px, -7px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes navaactive {
  50% {
    transform: translate(0, 18px) scale(1);
  }
}
// === Lazyload ===
.LazyLoad {
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  &.is-visible {
    opacity: 1;
    .work-desc {
      opacity: 1;
    }
  }
  &.rel {
    position: relative;
  }
}
