// Import mixins
@import "mixins_var.scss";
/* Классы тем */
// Общие тэги
span,
a {
  color: $b1;
}
// === Body ===
body {
  background-color: $we5;
}
// === Общие классы кнопок ===
.btn-b41 {
  color: $wff;
  background-color: $b41;
  &:hover,
  &:focus-visible {
    background-color: $ff5;
  }
}
.btn-bw41 {
  color: $b1;
  background-color: $we5;
  border: 1px solid $b41;
  &:hover,
  &:focus-visible {
    background-color: $b41;
    color: $we5;
  }
}
// === Home/Portfolio кнопки ===
.btn-tab {
  background-color: $we5;
  color: $b1;
  &:hover,
  &:focus-visible {
    color: $ff5;
    span {
      color: $ff5;
    }
  }
}
.btn-tab-link {
  color: $ff5;
}
// Forms
.l-client-info > .label-required {
  color: red;
}
.label-feedback,
.form-input {
  color: $we5;
}
.form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $we5;
}
[class="form-input"]:invalid {
  border-bottom: 1px solid red;
}
[class="form-input"]:valid {
  border-bottom: 1px solid rgb(0, 255, 0);
}
/* Стили цветов */
// === Заголовки, описание ===
.section-title,
.section-desc,
.small-section {
  color: $b1;
}
// === Header ===
.l-header {
  background-color: $we5;
}
.disc-head > .feni-tel,
.header-menu > a {
  color: $b1;
  &:hover,
  &:focus-visible {
    color: $ff5;
  }
}
.nav-is-active {
  background-color: $b41;
  & > a {
    color: $wff;
  }
}
// === Main ===
.l-main {
  background-color: $we5;
}
// === Briefs ===
.fb-info {
  > .fb-title {
    color: $b1;
  }
  // Focus fb-info
  &:hover,
  &:focus-visible {
    > .fb-count,
    > .fb-title,
    > .fb-desc {
      color: $ff5;
    }
    > .fb-desc::before {
      background-color: $ff5;
    }
  }
}
// === Discuss ===
.l-feni-discuss-project {
  background-color: $b41;
}
.l-fdp-content-info {
  > .fdp-title,
  > .fdp-desc {
    color: $we5;
  }
}
.feni-checkbox-agree {
  color: $we5;
}
.feedback-btn {
  color: $we5;
  background-color: $ff5;
  &:hover,
  &:focus-visible {
    background-color: $we5;
    color: $b41;
  }
}
// Общие модули для формы
.form-input {
  padding: 10px;
  padding-left: 0;
  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
}
.message-input {
  max-height: 100px;
}
// === Work-desc === (Main, Portfolio)
.work-desc {
  background-color: $b41;
  > &-title,
  > &-info {
    color: $we5;
  }
}
// === About ===
.skill-num {
  color: $ff5;
}
// === Contacts ===
.contacts-link {
  color: $b1;
}
// === Footer ===
.l-footer {
  background-color: $b1;
}
.footer-links-title,
.footer-link {
  color: $we5;
}
.l-footer-links-title {
  color: $we5;
}
.l-footer-bottom > span,
.l-footer-bottom > .footer-link {
  color: $we5;
}
