// Import mixins
@import "mixins_var.scss";
/* Классы тем */
// Общие тэги
div,
span,
input,
a,
h1,
h2,
h3 {
  color: $text_color;
}
// === Body ===
body {
  background-color: $body_color;
}
// === Общие классы кнопок ===
.btn-b41 {
  color: $wff;
  background-color: $b41;
  &:hover,
  &:focus-visible {
    background-color: $ff5;
  }
}
.btn-bw41 {
  color: $text_color;
  background-color: $we5;
  border: 1px solid $b41;
  &:hover,
  &:focus-visible {
    background-color: $b41;
    color: $we5;
  }
}
// === Home/Portfolio кнопки ===
.btn-tab {
  background-color: $we5;
  color: $text_color;
  &:hover,
  &:focus-visible {
    color: $ff5;
    span {
      color: $ff5;
    }
  }
}
.btn-tab-link {
  color: $ff5;
}
// Forms
.l-client-info > .label-required {
  color: red;
}
.label-feedback,
.form-input {
  color: $we5;
}
.form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $we5;
}
[class="form-input"]:invalid {
  border-bottom: 1px solid red;
}
[class="form-input"]:valid {
  border-bottom: 1px solid rgb(0, 255, 0);
}
/* Стили цветов */
// === Заголовки, описание ===
.section-title,
.section-desc,
.small-section {
  color: $text_color;
}
// === Header ===
.l-header {
  background-color: $body_color;
}
.header-menu > a {
  color: $text_color;
  &:hover,
  &:focus-visible {
    color: $ff5;
  }
}
.nav-is-active {
  background-color: $b41;
  & > a {
    color: $wff;
  }
}
// === Main ===
.l-main {
  background-color: $body_color;
}
// Общие модули для формы
.form-input {
  padding: 10px;
  padding-left: 0;
  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
}
.message-input {
  max-height: 100px;
}
// === Work-desc === (Main, Portfolio)

// === Footer ===
.footer {
  background-color: $footer_color;
}
.footer-logo {
  background-color: $footer_logo;
}
.footer-links-title,
.footer-link {
  color: $we5;
}
.l-footer-links-title {
  color: $we5;
}
.l-footer-bottom > span,
.l-footer-bottom > .footer-link {
  color: $we5;
}
