// Global selectors styles
@font-face {
    font-display: swap;
    text-rendering: optimizeLegibility;
    font-family: $main-font1;
    src: url(/webfonts/QuicksandRegular.woff) format("woff");
}
@font-face {
    font-display: swap;
    text-rendering: optimizeLegibility;
    font-family: $main-font2;
    src: url(/webfonts/NunitoRegular.woff) format("woff");
}

// For check outlines
// * {
//     outline: 1px solid red;
// }

// Global elements
body {
    background: $body_color2;
    color: $text_color2;

    a,
    span,
    q {
        color: $text_color2;
    }

    p {
        color: $text_color3;
    }

    button {
        border-color: $body_color3;
    }

    .hamburger > span {
        background-color: $body_color1;
    }

    .header__fluid.-scroll {
        @media (min-width: $lg) {
            background-color: $body_color2;
        }

        &.active {
            background-color: $body_color2;

            .hamburger > span {
                background-color: $body_color1 !important;
            }
        }

        .hamburger {
            background-color: $body_color1;

            > span {
                background-color: $body_color2;
            }
        }
    }

    .btn__main {
        color: $text_color1;
    }

    &.dark-theme {
        background: $body_color1;
        color: $text_color1;

        a,
        p,
        q,
        span {
            color: $text_color1;
        }

        ._bg-theme {
            background-color: $body_color1;
        }

        .hamburger span {
            background-color: $body_color2;
        }

        .header__fluid.-scroll {
            &.active {
                background-color: $body_color1;

                a {
                    color: $text_color1;
                }

                .hamburger > span {
                    background-color: $body_color2 !important;
                }
            }

            a,
            span,
            button {
                color: $text_color2;
            }

            button {
                border-color: $body_color1;
            }

            #switch-theme {
                border: 1px solid $body_color1;
            }

            .hamburger {
                background-color: $body_color2;

                > span {
                    background-color: $body_color1;
                }
            }
        }

        .btn__transparent {
            color: $text_color1;
            border-color: $text_color1;

            &:hover,
            &:focus-visible {
                background-color: $text_color1;
                color: $text_color2;
            }
        }

        .btn__main {
            color: $text_color2;
            background-color: $body_color4;

            &:hover,
            &:focus-visible {
                background-color: $text_color2;
                color: $text_color1;
            }
        }
    }
}

.container-fluid {
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
}

.container {
    box-sizing: border-box;
}

.logo {
    transition: opacity 1s ease;
    display: flex;
    width: 153px;
    height: 50px;
    padding: 0;
    margin-right: auto;
    z-index: 10;

    &__text {
        @include column();
        padding-left: 15px;

        font-weight: 700;
        font-size: 1.25rem;
        line-height: 120%;
        letter-spacing: 0.01em;

        > .creative {
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.01em;
        }
    }
}

html {
    scroll-behavior: smooth;
    padding: 0%;
}

h1 {
    @include font-size(4rem);
    font-weight: 800;
    letter-spacing: 0.01em;
    text-align: center;
}

h2 {
    @include font-size(3.438rem);
    font-weight: 700;
    letter-spacing: 0em;
}

h3 {

}

h1,
h2,
h3 {
    margin: 0;
    font-family: "NunitoRegular", sans-serif;
}

div,
p,
a,
ul,
li,
span,
button,
label,
input,
input::placeholder,
textarea,
[type="submit"],
address,
q {
    font-family: "QuicksandRegular", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

img {
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
}

[type="submit"] {
    cursor: pointer;
}

address {
    font-style: normal;
    font-size: 1.5rem;
}
