// Overflow
.overflow-is-hidden {
    overflow: hidden;
}
// === Section title, desc ===
// H1
.section-main-title {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 145%;
    letter-spacing: 0.05em;
}
// H2
.section-title {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.02em;
}
// H, P
.small-section {
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: 0.05em;
}
.section-desc {
    font-size: 1rem;
    line-height: 185%;
    letter-spacing: 0.02em;
}

// === Изображения ===
.img__resp-block {
    display: flex;
    transition: all ease 0.5s;
    img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.img__rubber {
    display: flex;
    img {
        height: auto;
        max-width: 100%;
    }
}
