._overflow-is-hidden {
    overflow: hidden;
}

._scroll {
    opacity: 0.9;
}

._btn-bs {
    box-shadow: $box-shadow1;
}

._elipse-bs {
    box-shadow: $box-shadow2;
}

._bg-theme {
    background-color: $body_color2;
    border-radius: 16px;
}

._op-05 {
    opacity: 0.5;
}

// === Section title, desc ===

// === Изображения ===
._img__resp-block {
    display: flex;
    transition: all ease 0.5s;
    > img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}

._m-0-auto {
    margin: 0 auto;
}

.img__rubber {
    display: flex;
    img {
        height: auto;
        max-width: 100%;
    }
}
