// Global
._overflow-is-hidden {
    overflow: hidden;
}

._scroll {
    opacity: 0.9;
}

// Box-shadows
._btn-bs {
    box-shadow: $box-shadow1;
}

._bs-2 {
    box-shadow: $box-shadow2;
}

._elipse-bs {
    box-shadow: $box-shadow3;
}

// Border
._border-rad-100 {
    display: flex;
    @include f-center();

    border-radius: 100%;
    width: 100px;
    height: 100px;
}

._border-link {
    &:hover,
    &:focus-visible {
        border: 1px solid $body_color1;
        opacity: 0.7;
    }
}

// Themes
._bg-theme {
    background-color: $body_color2;
    border-radius: 16px;
}

// Position
._m-0-auto {
    margin: 0 auto;
}

// Visibility
._op-05 {
    opacity: 0.5;
}

// === Text ===
._small-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.01em;
}

._main-desc {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.01em;
}

._block-title {
    font-weight: 700;
    @include font-size(3.438rem);
    letter-spacing: 0em;
}

._t-center {
    text-align: center;
}

._underline {
    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

// Text Themes
._st-color-1 {
    color: $text_color5;
}

._st-color-2 {
    color: $text_color2;
}

._st-color-4 {
    color: $text_color4;
}

// === Images ===
._img__resp-block {
    display: flex;
    transition: all ease 0.5s;
    > img {
        height: auto;
        width: 100%;
        max-width: 100%;
        min-width: 279px;
        min-height: 186px;
        object-fit: cover;
    }
}

.img__rubber {
    display: flex;
    img {
        height: auto;
        max-width: 100%;
    }
}
