// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Colors
$body_color: #0e0e0e;
$header_color: #e2e2e2;
$text_color: #e2e2e2;

$white: #e2e2e2;

$active1-color: #808080;

$main-font1: "QuicksandRegular";
$main-font2: "NunitoRegular";