// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Colors
$body_color1: #fff;
$body_color2: #000;
$body_color3: rgb(63, 83, 216);

$text_color1: #fff;
$text_color2: #222222;
$text_color3: rgb(84, 84, 121);

$elem-color1: #ff2d2d;
$elem-color2: #7ce761;
$elem-color3: #ffa800;

$active1-color: #808080;

// Box-shadow
$box-shadow1: 0 4px 8px 0 rgba(55, 125, 255, 0.5);
$box-shadow2: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
$box-shadow3: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
$box-shadow4: 4px 4px 30px 0 rgba(0, 0, 0, 0.1);

// Fonts
$main-font1: "PlusJakartaSansRegular";
