// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Colors
$body_color1: #0e0e0e;
$body_color2: #fdffff;
$body_color3: #377dff;
$body_color4: #e2e2e2;
$body_color5: #383638;

$text_color1: #e2e2e2;
$text_color2: #0e0e0e;
$text_color3: #464646;
$text_color4: #377dff;
$text_color5: #fff;

$elem-color1: #ff2d2d;
$elem-color2: #7CE761;
$elem-color3: #FFA800;

$active1-color: #808080;

// Box-shadow
$box-shadow1: 0 4px 8px 0 rgba(55, 125, 255, 0.5);
$box-shadow2: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
$box-shadow3: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
$box-shadow4: 4px 4px 30px 0 rgba(0, 0, 0, 0.1);

// Fonts
$main-font1: "QuicksandRegular";
$main-font2: "NunitoRegular";
